*{
    margin: 0;
}
body{
    margin: 0 auto;
    background-color: white;
}
header{
    margin: 2 auto;
    background-color: red;
    height: 80px;
}
 span img{
    width: 160px;height: 500px;
}
header nav ul{
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li a{
    margin-right: 30px;
    justify-content: space-between;
}
